.container{
    position:-ms-page;
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    margin: 10px;
    /* margin-left: 100px; */
    /* margin-right: 500px; */
    align-items: center;
   
}
label {
    /* display: block; */
    margin-block:  10px;
    margin-top: 12px;
    font-weight: bold;
    
  }

  input[type="text"],
input[type="number"]
{
  width: calc(95% - 0%); 
  padding: 8px; 
  padding-left: 10px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: content-box;
  margin-bottom: 10px; 
  
}
