 /* .container {
    margin: 100px;
    height: 100%;
    overflow-y: auto;
    }  */
    .container {
        margin: 0; /* Remove any margin */
        padding: 20px; /* Add padding for spacing */
        height: 100vh; /* Set height to 100% of the viewport height */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
    }
    

.menuItem {
    /* flex-grow: 1; */
    background-color: gray ;
    padding: 5px;
    width: 700px;
    display: block;
    margin:30px auto;
    overflow-y: auto; 
}

.item{
    /* flex-grow: 1; */
    display: flex; 
    justify-content: space-between;
    background-color:white;
    padding: 5px 10px;
    margin: 2px;
}

.button{
    border: 1px solid white;
    background-color: bisque;
    margin: 4px;
    height: 50px;
    padding: 8px 16px;
    border-radius: 16px;
}

.menuHeading{
    justify-content: center;
    display: flex;
    background-color: black;
    color: white;
    margin: 2px;
    height: 70px;
    padding: 5px 10px;
    width: 700px
}